{% extends 'base.html.twig' %}

{% block title %}Hello EditprofilController!{% endblock %}

{% block body %}
   <div class="container">
                <hr>
                <h2 class="text-center">Modification profil</h2>    
                 <hr>
                <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            
                        </div>
                </div>
                 <hr>
                <div class="row mt-2">
                  
                    <div class="col-md-5"><label class="labels">firstname</label><input type="text" class="form-control" placeholder="Fofana" value=""></div>
                    <div class="col-md-5"><label class="labels">lastname</label><input type="text" class="form-control" value="" placeholder="Kadija"></div>
                    <div class="col-md-5"><label class="labels">Email</label><input type="text" class="form-control" placeholder="kshitighelani@gmail.com" value=""></div>
                    <div class="col-md-5"><label class="labels">Diplôme</label><input type="text" class="form-control" value="" placeholder="https://placehold.to"></div>
                    <div class="col-md-5"><label class="labels">Siret</label><input type="text" class="form-control" value="" placeholder=" 124156373839404848474"></div>
                   
                </div> 
                      <hr>
                    <div class="container-btn">
                        <a class="btn btn-primary col-md-10" href="{{path('profiluser')}}"> Sauvegarder !</a>
                    </div>
            </div>


{% endblock %}
