{%  extends 'base.html.twig' %}

 {% block title %}Création d'un formulaire {% endblock%}
 
 {% block body%}
   {# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script> #}

   

    <div class="container">
      <form action="" method="post" id="form" >
         <h1 class="text-center"> Devenir Coach SpeedRun </h1>
         <div class="card col-md-10 offset-md-1 card-effet">
            {# <div class="col-md-10 offset-md-1">
                 <img  height="210" src="images/Speed_Run_logo.PNG" class="card-img-top" alt="..."> 
            </div> #}
            <div class="row">    
                   <div class="alert alert-formInsc">
                        <div class="row"> 
                          <div class="form-group">
                              <input text="text" name="email" id="email"  class="form-control"  
                              placeholder=" Votre email...">
                       </div>
                          <div class="col-md-4 col-xs-12"> <input id="firstname" class="form-control" name="firstname" type="text" placeholder="Votre nom..."></div>
                            <div class="col-md-4 col-xs-12"> <input id="lastname" class="form-control" name="lastname" type="text" placeholder="Votre prénom..."></div>
                            <div class="col-md-6 col-xs-12"> <input id="password" class="form-control" name="password" type="text" placeholder="Votre mot de passe..."></div>
                             
                            <div class="col-md-6 col-xs-12"> <input id="passwordconfirm" class="form-control" name="passwordconfirm" type="text" placeholder="Confirmation mot de passe..."></div>
                           
                            <div class="col-md-6 col-xs-12"> <input id="diplome" class="form-control" name="diplome" type="text" placeholder="Votre diplôme..."></div>
                            <div class="col-md-6 col-xs-12"> <input id="siret" class="form-control" name="siret" type="text" placeholder="N° de SIRET..."></div>
                        </div>
                            
                        <div>
                          <div class="container-btn">
                           <input type="submit" value="inscription" class="btn btn-primary" id="inscription" onclick="register()" >
                          </div>

                      </div>
               </div>
            </div>
         </div>
          
       </form>

          <script type="text/javascript">
          
         function register(){
            document.querySelector("#form").addEventListener("click", function(event) {
            event.preventDefault();
            }, false)

            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({"email": $('#email').val(),"password": $('#password').val(),"confirmPassword": $('#passwordconfirm').val(),"firstname": $('#firstname').val(), "lastname": $('#lastname').val(),
            "siret": $('#siret').val(), "diplome": $('#diplome').val()});

            var requestOptions = {
              method: 'POST',
              headers: myHeaders,
              body: raw,
              redirect: 'follow'
             };

          fetch("https:/le-roi-mike.herokuapp.com/web/register", requestOptions)
           .then(response => response.text())
           .then(result => console.log(result))
           .catch(error => console.log('error', error));

            console.log("ok");
               var settings = {
               "url": "https://le-roi-mike.herokuapp.com/web/register",
               "method": "POST",
               "headers": {
                  "Content-Type": "application/x-www-form-urlencoded",
               },
               "data": {"email": $('#email').val(),"password": $('#password').val(),"confirmPassword": $('#passwordconfirm').val(),"firstname": $('#firstname').val(), "lastname": $('#lastname').val(),
               "siret": $('#siret').val(), "diplome": $('#diplome').val()},
               "success": function(){
                  alert('ok')
               }, "error": function (){
                  alert('ko')
               }
            };

         }
   
    </script>

{% endblock %}