

<footer   class="mt-5 py-5 text-center" style="background-color: #302D43">
<div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <a href="{{path('condition')}}" class="btn btn-outline-white btn-rounded">MENTIONS LÉGALES</a>
      </li>
      <li class="list-inline-item">
        <a href="{{path('condition')}}" class="btn btn-outline-white btn-rounded">CONDITIONS GÉNÉRALES</a>
      </li>

      <li class="list-inline-item">
        <a href="{{path('condition')}}" class="btn btn-outline-white btn-rounded">POLITIQUE DE CONFIDENTIALITÉ</a>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://speedrun1.herokuapp.com/">SpeedRun</a>
  </div>
  <!-- Copyright -->
</footer>