{% extends 'base.html.twig' %}

{% block title %}Hello ConditionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
 <div class="row">
  <h3> 7 – Paiement </h3>
Sauf conditions particulières, les factures sont payables
à .... à compter de la date de livraison. En cas de retard
de paiement, le vendeur pourra suspendre toutes les
commandes en cours. Toute somme non payée à
l'échéance figurant sur la facture entraîne de plein droit
l'application de pénalités d'un montant égal à une fois et
demie1
 l'intérêt légal. Ces pénalités seront exigibles sur
simple demande du vendeur.
Aucun escompte n'est accepté pour paiement anticipé.
Un escompte de .... est accordé pour tout paiement au
comptant.
<h3>8 - Clause résolutoire</h3>
En cas de défaut de paiement, quarante huit heures
après une mise en demeure restée infructueuse, la
vente sera résiliée de plein droit par le vendeur qui
pourra demander en référé la restitution des produits
sans préjudice de tous autres dommages et intérêts.
Les sommes restant dues pour d'autres livraisons
deviendront immédiatement exigibles si le vendeur
n'opte pas pour la résolution des commandes
correspondantes.
 <h3>9 - Réserve de propriété</h3>
<p>Les marchandises vendues restent la propriété du
vendeur jusqu'au complet règlement de leur prix.
Toutefois les risques afférents aux marchandises seront
transférés à l'acheteur ou au transporteur, dès la
remise physique des produits.</h3>
<h3>10 - Attribution de juridiction
<p>Les présentes conditions annulent et remplacent les
conditions précédemment applicables. Tout litige relatif
aux présentes sera de la compétence du tribunal mixte
de commerce de Nouméa</p>
</div>
</div>
{% endblock %}
