{% extends 'base.html.twig' %}

{% block body%}

    <div class="container">
             <form>

               <h1 class="text-center">Modification d'un Programme</h1>
               <fieldset>
                 
                 <div class="form-group">
                   <label for="nom">Nom de programme</label>
                   <input type="text" class="form-control" id="nom" placeholder="Pompe">
                 </div>

                 <div class="form-group">
                   <label for="nom">Etape</label>
                   <input type="text" class="form-control" id="nom" placeholder=" 3 etapes" >
                 </div>
                 
                 <div class="form-group">
                   <label for="nom">Preparation</label>
                   <input type="text" class="form-control" id="nom" placeholder="10mn">
                 </div>

                 <div class="form-group">
                   <label for="nom">Ingredient</label>
                   <input type="text" class="form-control" id="nom"  placeholder="sel, mayonnaise, salade">
                 </div>

                 
                 <div class="form-group">
                   <label for="nom">Temps de cuisson</label>
                   <input type="text" class="form-control" id="nom"  placeholder=" 0mn">
                 </div>

                 <div class="form-group">
                   <label for="nom">Temps total</label>
                   <input type="text" class="form-control" id="nom"  placeholder="15mn ">
                 </div>

                   <div class="form-group">
                     <label for="fichier">Photo</label>
                     <input type="file" class="form-control-file" id="fichier">
                 </div>
                 
                 <div class="form-group">
                   <label for="bio">Description</label>
                   <textarea class="form-control" id="bio" rows="3" placeholder="1g de sel, de l'huile"></textarea>
                 </div>
                  
                  <div>
                        <div class="container-btn">
                          <a class="btn btn-primary col-md-12" href="{{path('profil1')}}">Créer une recette!</a>
                       </div>
                  </div>     
               </fieldset>
             </form>
         </div>

{% endblock %}

