{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}

 <div class="container">
    

    <table class="table">

    <h1 class="text-center  my-5" >Détail d'un programme</h1>
        <tbody>
            <tr>
                <th>Id</th>
                <td>1</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>perte du poids</td>
            </tr>
            
            <tr>
                <th>Série</th>
                <td>3</td>
            </tr>
              <tr>
                <th>Repetition</th>
                <td>3 fois </td>
            </tr>
            
            <tr>
                <th>Repos</th>
                <td>1mn</td>
            </tr>
            
            <tr>
                <th>Photo</th>
                <td>http://placeholder.it/64X64</td>
            </tr>

            <tr>
                <th>Description</th>
                <td>Pompe, traction, abdos</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('proliste') }}">Revenir a la liste</a>

    {# <a href="{{ path('recette_edit', {'id': recette.id}) }}">edit</a> #}

    {# {{ include('recette/_delete_form.html.twig') }} #}
  </div>
{% endblock %}


